<div *ngIf="jugadores!=null; else espera">

    <div class="card-body">
        <div class="d-block w-100 prueba">
            <table class="table table-responsive-sm table-responsive-md table-striped">
                <thead>
                    <tr class="table-active">
                        <th>Posición</th>
                        <th>ID</th>
                        <th>Primer nombre</th>
                        <th>Apellido</th>
                        <th>Altura (pulgadas)</th>
                        <th>Altura (pies)</th>
                        <th>Peso</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let jugador of jugadores">
                        <td>{{jugador.position}}</td>
                        <td>{{jugador.id}}</td>
                        <td>{{jugador.first_name}}</td>
                        <td>{{jugador.last_name}}</td>
                        <td>{{jugador.height_inches}}</td>
                        <td>{{jugador.height_feet}}</td>
                        <td>{{jugador.weight_pounds}}</td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</div>    
<ng-template #espera>Esperando datos...</ng-template>
<ng-template #raya><td>-</td></ng-template>



<!-- public id: any,
        public first_name: string,
        public height_feet: any,
        public height_inches: any,
        public last_name: string,
        public position: string,
        public team: any,
        public weight_pounds: any-->