<div class="wizard">
    <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
    
        <ng-wizard-step [title]="'Step 1'" [description]="'Datos del Jugador'"
        >
            
            <form #userForm="ngForm" (ngSubmit)="showPreviousStep()" class="contenido">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstname">Nombre *</label>
                        <input type="text" class="form-control" name="firstname" #firstname="ngModel" [(ngModel)]="jugador.firstname"
                            required pattern="[a-zA-z]+">
                
                        <small *ngIf="!firstname.valid && firstname.touched">
                            El nombre no es válido, no colocar caracteres especiales.
                        </small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastname">Apellido *</label>
                        <input type="text" class="form-control" name="lastname" #lastname="ngModel" [(ngModel)]="jugador.lastname" required
                            pattern="[a-zA-z]+">
                
                        <small *ngIf="!lastname.valid && lastname.touched">
                            El apellido no es válido, no colocar caracteres especiales.
                        </small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="height_inches">Altura (pulgadas)</label>
                        <input type="text" class="form-control" name="height_inches" #height_inches="ngModel" [(ngModel)]="jugador.height_inches">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="height_feet">Altura (pies)</label>
                        <input type="text" class="form-control" name="height_feet" #height_feet="ngModel" [(ngModel)]="jugador.height_feet">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="weight">Peso</label>
                        <input type="text" class="form-control" name="weight" #weight="ngModel" [(ngModel)]="jugador.weight" pattern="[a-zA-z]+">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="position">Posicion *</label>
                        <select class="form-control" #position="ngModel" name="position" [(ngModel)]="jugador.positicon" required>
                           <!-- <option selected value="0">...</option>-->
                            <option [value]="'A'">A</option>
                            <option [value]="'B'">B</option>
                            <option [value]="'C'">C</option>
                            <option [value]="'D'">D</option>
                            <option [value]="'E'">E</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="date">Fecha de nacimiento</label>
                        <input type="text" class="form-control" name="date" #date="ngModel" [(ngModel)]="jugador.date">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="age">Edad</label>
                        <input type="text" class="form-control" name="age" #age="ngModel" [(ngModel)]="jugador.age">
                    </div>
                </div>    
            </form>    
        </ng-wizard-step>
        
        <ng-wizard-step [title]="'Step 2'" [description]="'Datos del equipo'">
        <span>Step 2 content</span>
        </ng-wizard-step>
        
        <ng-wizard-step [title]="'Step 3'" [description]="'Registro exitoso'"
        [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
            <h2>Su registro ha sido exitoso</h2>
        </ng-wizard-step>
    </ng-wizard>
</div>
